/* http://k88hudson.github.io/syntax-highlighting-theme-generator/www/ */
.article pre[class*="language-"],
.article code[class*="language-"] {
  color: #f5f5f5;
  font-size: var(--size-minus-one);
  text-shadow: none;
  font-family: "Source Code Pro", monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: inherit;
}

.article pre[class*="language-"] {
  margin: 0;
  padding: 1rem;
  overflow: auto;
  background: #323434;
}
.article :not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  color: #f5f5f5;
  background: #323434;
}

.article .namespace {
  opacity: 0.7;
}
.article .token.comment,
.article .token.prolog,
.article .token.doctype,
.article .token.cdata {
  color: #858a8a;
  font-weight: 300;
}
.article .token.punctuation {
  color: #858a8a;
}
.article .token.property,
.article .token.tag,
.article .token.boolean,
.article .token.number,
.article .token.constant,
.article .token.symbol,
.article .token.deleted {
  color: #ff99bb;
}
.article .token.selector,
.article .token.attr-name,
.article .token.string,
.article .token.char,
.article .token.builtin,
.article .token.inserted {
  color: #858a8a;
}
.article .token.operator,
.article .token.entity,
.article .token.url,
.language-css .article .token.string,
.style .article .token.string {
  color: #858a8a;
}
.article .token.atrule,
.article .token.attr-value,
.article .token.keyword {
  color: #99ffce;
}
.article .token.function {
  color: #ff99bb;
  font-weight: 500;
}
.article .token.regex,
.article .token.important,
.article .token.variable {
  color: #f5f5f5;
}
.article .token.important,
.article .token.bold {
  font-weight: bold;
}
.article .token.italic {
  font-style: italic;
}
.article .token.entity {
  cursor: help;
}

.article .highlight-line-active {
  background: #232424;
  color: inherit;
  margin: 0;
  margin-left: -1rem;
  padding: 0.125em;
  box-shadow: inset 5px 0 0 #ff99bb;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
