@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&family=Source+Serif+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  line-height: var(--line-height);
}

:root {
  --scale: 1.25;
  --line-height: 1.5;

  --size-minus-three: calc(var(--size-minux-two) / var(--scale));
  --size-minus-two: calc(var(--size-minus-one) / var(--scale));
  --size-minus-one: calc(var(--size-six) / var(--scale));
  --size-six: 1rem;
  --size-five: calc(var(--size-six) * var(--scale));
  --size-four: calc(var(--size-five) * var(--scale));
  --size-three: calc(var(--size-four) * var(--scale));
  --size-two: calc(var(--size-three) * var(--scale));
  --size-one: calc(var(--size-two) * var(--scale));

  --aquamarine: hsl(151, 100%, 80%);
  --eerie-black: hsl(180, 2%, 14%);
  --onyx: hsl(180, 2%, 20%);
  --battleship-grey: hsl(180, 2%, 53%);
  --cultured: hsl(0, 0%, 96%);
  --amaranth-pink: hsl(340, 100%, 80%);

  --background: var(--eerie-black);
  --text: var(--cultured);
  --primary: var(--aquamarine);
  --secondary: var(--amaranth-pink);
}

@media (min-width: 450px) {
  :root {
    --size-six: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: var(--size-one);
}

h2 {
  font-size: var(--size-two);
}

h3 {
  font-size: var(--size-three);
}

h4 {
  font-size: var(--size-four);
}

h5 {
  font-size: var(--size-five);
}

h6,
p {
  font-size: var(--size-six);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Source Serif Pro", serif;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 1rem;
  min-height: 100vh;
}

.container--header {
  grid-area: header;
}

.container--main {
  grid-area: main;
  margin: 0 auto;
  width: 100%;
}

.container--footer {
  grid-area: footer;
}

.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  max-width: 54rem;
  margin: 2rem auto;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 1.5rem;
  grid-template-columns:
    [breakout-start] 1fr
    [padding-start] 1rem
    [content-start] minmax(40ch, 80ch)
    [content-end] 1fr
    [padding-end] 1rem
    [breakout-end];
}

.content > * {
  grid-column: content;
  word-wrap: break-word;
}

.markdown a {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  transition: all 100ms ease-in-out;
}

.markdown a:hover {
  background: var(--onyx);
  text-decoration-color: var(--amaranth-pink);
}

.markdown blockquote {
  border-left: 0.25em solid var(--primary);
  padding-left: calc(var(--scale) * 1rem);
  font-size: var(--size-six);
  font-style: italic;
  font-weight: 300;
  margin: 1.5rem;
  margin-left: calc(1.5rem - 0.25em);
}

.markdown ul,
.markdown ol {
  margin: 0;
  padding: 0 1em;
  list-style: none;
}

.markdown li {
  font-size: var(--size-six);
  line-height: var(--line-height);
}

.markdown li:not(:first-child) {
  margin-top: 0.5em;
}

/* https://www.w3.org/Style/Examples/007/color-bullets.en.html */
.markdown ol li {
  counter-increment: li;
}

.markdown ol li::before {
  content: counter(li) ".";
  color: var(--primary);
  display: inline-block;
  vertical-align: center;
  width: 1.5em;
  font-weight: 300;
  font-size: var(--size-minus-one);
}

.markdown ul li::before {
  content: "○";
  color: var(--primary);
  display: inline-block;
  width: 1em;
  font-weight: 300;
}

.markdown img {
  grid-column: breakout;
  max-width: 100%;
  height: auto;
}

.dropcap > p:first-of-type::first-letter {
  color: var(--primary);
  text-transform: uppercase;
  float: left;
  font-size: var(--size-one);
  font-weight: 700;
  margin: 0.2em 0.1em 0.1em 0;
  line-height: 0.5;
}

/* https://aj-foster.com/2015/tombstone/ */
.tombstone > :last-child::after {
  color: var(--primary);
  background: currentColor;
  content: "";
  display: block;
  float: right;
  position: relative;
  height: 1em;
  margin-left: 1em;
  width: 0.5em;
}

.main--post-title {
  text-align: center;
  font-size: var(--size-one);
  margin: 0.5rem;
}

.main--post-info {
  text-align: center;
}

.main--post-info-date {
  color: var(--battleship-grey);
  font-weight: 300;
  font-size: var(--size-minus-one);
  margin: 0.5rem;
}

#mugshot {
  shape-rendering: geometricPrecision;
  height: var(--size-three);
  fill: var(--text);
}

.topnav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: var(--size-six);
}

.topnav--item,
.topnav--item-selected {
  margin-left: 1.5rem;
}

.topnav--item a,
.topnav--item-selected a {
  color: inherit;
  text-decoration: none;
}

.topnav--item::after {
  content: "";
  display: block;
  border-top: 5px solid var(--primary);
  height: 5px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 150ms ease-in-out;
}

.topnav--item-selected::after {
  content: "";
  display: block;
  border-top: 5px solid var(--secondary);
  height: 5px;
}

.topnav--item:hover::after {
  transform: scaleX(1);
}

.footer {
  padding: 1.5rem;
  border-top: 1px solid var(--onyx);
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list--item {
  margin-left: 1rem;
}

.footer-list--icon {
  height: var(--size-five);
  fill: var(--battleship-grey);
  transition: all 100ms ease-in;
}

.footer-list--icon:hover {
  fill: var(--text);
}

.main--divider {
  fill: var(--battleship-grey);
  width: 18rem;
  margin: 1.5rem auto;
}

.markdown pre {
  grid-column: breakout;
  white-space: pre-wrap;
}

.markdown code {
  font-family: "Source Code Pro";
  line-height: inherit;
  background: var(--onyx);
  color: var(--aquamarine);
  padding: 0.1em 0.3em;
  border-radius: 0.1em;
}

.markdown pre > code {
  font-family: "Source Code Pro";
  line-height: inherit;
}

.afterpost {
  margin: 2rem auto;
}

.afterpost--title {
  border-top: 1px solid var(--onyx);
  padding-top: 2rem;
}

.afterpost--list {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  list-style-type: none;
}

.afterpost--list-item {
  font-size: var(--size-six);
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  column-gap: 0.75rem;
}

.afterpost--list-item time {
  color: var(--battleship-grey);
  width: 8.5rem;
  font-weight: 300;
  white-space: nowrap;
}

.afterpost--list-item a {
  color: var(--text);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.afterpost--list-item a:hover {
  color: var(--aquamarine);
}

.tags {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.tags--list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.tags--list-item {
  list-style: none;
  margin-top: 0;
  margin-right: 0.5em;
  font-size: var(--size-minus-two);
  text-transform: lowercase;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  color: var(--battleship-grey);
  font-weight: 400;
  background: var(--onyx);
  font-family: "Source Code Pro", monospace;
}

.tags--list-item a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.tags--list-item a:hover {
  color: var(--text);
}

.postlist {
  margin: 2rem 0;
  padding: 0;
}

.postlist--title {
  margin: 0.5rem 0;
}

.postlist--link {
  text-decoration: none;
  color: var(--primary);
  transition: all 100ms ease-in-out;
}

.postlist--link:hover {
  background: var(--onyx);
  color: var(--secondary);
}

.postlist--info {
  color: var(--battleship-grey);
  font-weight: 300;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postlist--item {
  margin-bottom: 2rem;
  list-style-type: none;
}

.hero {
  margin: 0 auto;
  max-width: 58rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1.5rem;
  padding: 0.75rem;
}

.hero__content {
  padding: 0 0.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  .hero {
    grid-template-columns: 21rem 1fr;
    padding: 2rem;
  }

  .hero__content {
    padding: 0;
    margin-bottom: 0;
  }
}

.hero__image {
  width: 100%;
}

.hero__link {
  color: var(--primary);
  transition: all 100ms ease-in-out;
  text-decoration: none;
  text-decoration-color: var(--amaranth-pink);
  text-underline-offset: 0;
  text-decoration-thickness: 0;
}

.hero__link:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--amaranth-pink);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.featured {
  margin: 0 auto;
  max-width: 58rem;
  display: grid;
  grid-row-gap: 0.75rem;
  padding: 0 1.5rem;
}

.featured-list__title {
  color: var(--text);
  display: flex;
  align-items: flex-end;
  font-size: var(--size-five);
}

.featured-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 3rem;
}

.featured-list__item {
  display: grid;
  gap: 0.25rem;
}

.featured-list__timestamp {
  color: var(--battleship-grey);
  font-weight: 300;
}

.featured-list__link {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  text-decoration-color: var(--amaranth-pink);
}

.featured-list__link:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--amaranth-pink);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.featured-moreposts {
  display: flex;
  justify-content: right;
  margin: 1.5rem 0;
}

.featured-moreposts__title {
  color: var(--secondary);
  font-size: var(--size-six);
}

.featured-moreposts__link {
  color: inherit;
  color: var(--primary);
  text-decoration: none;
  text-underline-offset: 0;
  text-decoration-thickness: 0;
  transition: all 100ms ease-in-out;
}

.featured-moreposts__link:hover {
  background: var(--onyx);
  text-decoration: underline;
  text-decoration-color: var(--amaranth-pink);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}
